<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ClubArcada.SyncService.Properties.Settings.PokerSystemConnectionString" connectionString="Data Source=82.119.117.77;Initial Catalog=PokerSystem;User ID=PokerTimer" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
